<!-- Header -->
<header class="bg-primary text-center py-5 mb-4">
  <div class="container">
    <h1 class="font-weight-light text-white">About the Team</h1>
  </div>
</header>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Team Member 1 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/images/aboutpg/weihan1.jpg" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Weihan Zhang</h5>
          <div class="card-text text-black-50">Lead Software Engineer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 2 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/images/aboutpg/ricardo1.jpg" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Ricardo Miles</h5>
          <div class="card-text text-black-50">Web Developer</div>
        </div>
      </div>
    </div>
    <!-- Team Member 3 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/images/aboutpg/bigfloppa.jpg" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Big Floppa</h5>
          <div class="card-text text-black-50">Quality Assurance</div>
        </div>
      </div>
    </div>
    <!-- Team Member 4 -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="static/images/aboutpg/jpmxstock.png" class="card-img-top" alt="..." />
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Isabella Miyamoto</h5>
          <div class="card-text text-black-50">Product Designer</div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->