<!-- Page Content -->
<div class="container" style="background: gainsboro;">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Apu Gallery
  </h1>

  <hr class="mt-2 mb-5" />

  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4641.PNG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4641.PNG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4159.JPG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4159.JPG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4223.JPG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4223.JPG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4224.PNG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4224.PNG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4409.PNG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4409.PNG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4414.JPG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4414.JPG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4417.JPG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4417.JPG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4479.PNG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4479.PNG" alt="" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/apus/IMG_4511.JPG" class="d-block mb-4 h-100" target="_blank">
        <img class="img-fluid img-thumbnail" src="static/images/apus/IMG_4511.JPG" alt="" />
      </a>
    </div>
  </div>
</div>
<!-- /.container -->