<!-- Page Content -->
<div class="container" style="background: gainsboro;">
  <!--Section: Contact v.2-->
  <section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">
      Contact us
    </h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">
      Do you have any questions? Please do not hesitate to contact us
      directly. Our team will come back to you within a matter of hours to
      help you. NOT!
    </p>

    <div class="row">
      <!-- Form-->
      <div class="form col-md-4 w-responsive mx-auto mb-5">
        <form action="https://formspree.io/f/mrgrgbrp" method="POST">
          <div class="mb-3">
            <label class="form-label" style="color: darkcyan;">
              email:
            </label>
            <input class="form-control form-control-sm" type="email" name="_replyto" placeholder="optional" />
          </div>
          <div class="mb-3">
            <label class="form-label" style="color: deeppink; font-weight: bold;">
              Your message:
            </label>
            <textarea class="form-control form-control-lg" name="message" placeholder="whatever"></textarea>
          </div>
          <!-- your other form fields go here -->
          <button class="btn btn-outline-primary" type="submit">
            <b>Send</b>
          </button>
        </form>
      </div>
      <!-- End Form-->
    </div>
  </section>
  <!--Section: Contact v.2-->
</div>
<!-- /.container -->