<!-- Page Content -->
<div class="container" style="background: gainsboro;">
  <h1 class="font-weight-light text-center text-lg-center mt-4 mb-0">
    Incel of the Week
  </h1>
  <hr class="mt-2 mb-5" />
  <div class="row text-center text-lg-center">
    <div class="col-md-12 mb-5">
      <h5 class="text-center text-lg-center mb-2" style="
              text-decoration: underline overline blue; color: mediumpurple;">
        <b>Kiryu Kazama</b>
      </h5>
      <a href="#" data-toggle="modal" data-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/kkhk.png" alt="Yakuza dude" />
        <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
      </a>
    </div>
  </div>
</div>
<!-- /.container -->
<div class="container" style="background: gainsboro;">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Progress
  </h1>
  <hr class="mt-2 mb-5" />
  <div class="row text-center text-lg-left">
    <div class="col-md-6 w-responsive mx-auto mb-5">
      <h3 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        This site's development progress:
      </h3>
      <br />
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
          aria-valuemax="100">
          15%
        </div>
      </div>
    </div>
  </div>
</div>
</body>
