<!-- Page Content -->
<div class="container" style="background: gainsboro;">
  <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
    Sad Cat Gallery
  </h1>

  <hr class="mt-2 mb-5" />

  <div class="alert alert-danger text-center text-lg-left" role="alert" style="display: none;"></div>

  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat01.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat01.jpg" alt="The Meowran" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat03.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat03.jpg" alt="I can in cheezburger" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat04.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat04.jpg" alt="Fry plz" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat06.png" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat06.png" alt="Shower time" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat07.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat07.jpg" alt="lonely birthday" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat10.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat10.jpg"
          alt="Doom or Quake or some shit" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat11.jpg" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat11.jpg" alt="It All Returns To Nothing" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat13.png" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat13.png" alt="Classic" />
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <a href="static/images/sadcats/sadcat14.png" class="imgLink" data-bs-toggle="modal" data-bs-target="#imgModal">
        <img class="img-fluid img-thumbnail" src="static/images/sadcats/sadcat14.png" alt="Kitten ball sad" />
      </a>
    </div>
  </div>
</div>
<!-- /.container -->